@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("/fonts/ClashDisplay/ClashDisplay-Variable.woff2") format("woff2");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Extralight";
  src: url("/fonts/ClashDisplay/ClashDisplay-Extralight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Light";
  src: url("/fonts/ClashDisplay/ClashDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("/fonts/ClashDisplay/ClashDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("/fonts/ClashDisplay/ClashDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("/fonts/ClashDisplay/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("/fonts/ClashDisplay/ClashDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SatoshiVariable-Variable";
  src: url("/fonts/SatoshiVariable/Satoshi-Variable.woff2") format("woff2");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SatoshiVariable-Light";
  src: url("/fonts/SatoshiVariable/Satoshi-Italic.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SatoshiVariable-Regular";
  src: url("/fonts/SatoshiVariable/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SatoshiVariable-Medium";
  src: url("/fonts/SatoshiVariable/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SatoshiVariable-BoldSatoshiVariable-Bold";
  src: url("/fonts/SatoshiVariable/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.custom-shadow-1 {
  box-shadow: 0px -4px 9px 0px #285d4d1a;
}

.custom-shadow-2 {
  box-shadow: 0px -20px 18px 2px #285d4d17;
}

.custom-shadow-3 {
  box-shadow: 0px -37px 22px 0px #285d4d0d;
}

.custom-shadow-4 {
  box-shadow: 0px -65px 26px 0px #285d4d03;
}

.custom-shadow-5 {
  box-shadow: 0px -102px 28px 0px #285d4d00;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: white;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(196, 196, 196);
  border-radius: 6px;
  border: 3px solid white;
}

.new-shadow {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.custom-shadow{
  box-shadow: 
      0px 6px 13px 0px #BABABA1A,
      0px 24px 24px 0px #BABABA17,
      0px 55px 33px 0px #BABABA0D,
      0px 97px 39px 0px #BABABA03,
      0px 152px 42px 0px #BABABA00;
}

.clash-display {
  font-family: "ClashDisplay-Variable", sans-serif;
}

.satoshi-variable {
  font-family: "SatoshiVariable-Variable", sans-serif;
}
.filter-shadow {
  box-shadow: 0px 152px 42px 0px rgba(186, 186, 186, 0) !important;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 input[type="checkbox"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #c2c2c2;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper-13
    input[type="checkbox"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
    width: 21px;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):checked {
    --o: 1;
  }
  .checkbox-wrapper-13 input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
    border-radius: 4px;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
}

.checkbox-wrapper-13 * {
  box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
  box-sizing: inherit;
}

.gradient-border {
  border-radius: 16px;
  padding: 2px;
  background: linear-gradient(to right, #2661fa, #32ddb4);
  position: relative;
  z-index: 0;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 20px white;
  z-index: -1;
}

.content {
  background: white;
  border-radius: 14px;
}
.main_menu{
  font-family: "ClashDisplay-Semibold" !important;
  text-wrap: nowrap;

  /* font-weight: 800 !important; */
}
.follow_text{
  font-family: "ClashDisplay-Bold";
  font-weight: 600 !important;
  padding-right: 40px;
  text-wrap: nowrap;
}
.footer_btn{
  font-family: "ClashDisplay-Semibold";
  font-weight: 400 !important;
  text-wrap: nowrap;


}
.custom_shadow{
  /* box-shadow: 1px -1px 13px 0px rgb(0 0 0 / 8%); */
  padding-top: 16px;
  text-wrap: nowrap;

  /* font-family: "SatoshiVariable-Variable"; */
}

@media (max-width:1000px){
  .footer_last{
    display: block;
    padding-left: 0px;
  }
.text-gradient {
  background: linear-gradient(90deg, #164CD9 95%, #32AADD 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
}