@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

@font-face {
  font-family: 'ClashDisplay-Variable';
  /* src: url('../fonts/ClashDisplay-Variable.woff2') format('woff2'); */
  src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('/fonts/ClashDisplay-Extralight.woff2') format('woff2');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('/fonts/ClashDisplay-Light.woff2') format('woff2');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('/fonts/ClashDisplay-Medium.woff2') format('woff2');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('/fonts/ClashDisplay-Semibold.woff2') format('woff2');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('/fonts/ClashDisplay-Bold.woff2') format('woff2');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

.custom-shadow-1 {
  box-shadow: 0px -4px 9px 0px #285d4d1a;
}

.custom-shadow-2 {
  box-shadow: 0px -20px 18px 2px #285d4d17;
}

.custom-shadow-3 {
  box-shadow: 0px -37px 22px 0px #285d4d0d;
}

.custom-shadow-4 {
  box-shadow: 0px -65px 26px 0px #285d4d03;
}

.custom-shadow-5 {
  box-shadow: 0px -102px 28px 0px #285d4d00;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: white;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(196, 196, 196);
  border-radius: 6px;
  border: 3px solid white;
}

.new-shadow {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.customFont {
  font-family: 'ClashDisplay-Variable', sans-serif;
}